.characters-home-page {
    display: flex;
    margin: 0 auto;
}
.character-home {
    max-width: 1014px;
    width: 100vw;
    box-sizing: content-box;

    /* padding-left: 24px;
    padding-right: 24px; */
}
.title-header {
    margin-top: 24px;
    margin-bottom: 36px;
}
.title-header h1, .title-header h1.character-list {
    display: flex;
    align-items: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}
.title-header h2.subtitle {
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0;
    white-space: nowrap;
}
.characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-gap: 12px 12px;
    padding: 20px;
    border: 1px solid #2c2c40;;
    background-color: #17172e;;
}
.character-link {
    margin: 0 auto;
}
.character-link .character-name {
    margin-top: 8px;
    font-size: 0.9rem;
    color: var(--font-color-main);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.image-wrapper-char {
    width: 100px;
    height: 100px;

    position: relative;
    border: 1px solid #2c2c40;
    overflow: hidden;
}
.image-wrapper:hover {
    /* outline: -webkit-focus-ring-color auto 1px; */
}
.image-wrapper-char img {
    -webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.image-wrapper-char:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}


.character-profile-main-page {
    display: flex;
    margin: 0 auto;
}
.character-profile-content-container {
    padding-left: 24px;
    padding-right: 24px;
}

.character-profile-container.page_build, .character-profile-container.page_counters, .character-profile-container.page_overview_aram, .character-profile-container.page_overview_arurf, .character-profile-container.page_overview_nexus_blitz, .character-profile-container.page_overview_one_for_all, .character-profile-container.page_overview_urf, .character-profile-container.page_runes {
    width: 1014px;
}
.character-profile-container {
    z-index: 1;
    margin: 0 auto;
    padding-top: 48px;
}
.character-header {
    margin-bottom: 24px;
    font-family: "Fact", sans-serif;
}
.character-header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
.character-image-container {
    position: relative;
    flex: 0 0 93px;
    width: 93px;
    height: 93px;
    border-radius: 6px;
    border: 2px solid #414165;
    background-color: #17172e;
}
.character-image-border {
    position: relative;
    border: 2px solid #17172e;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.character-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transform: translate(-50%,-50%) scale(1.2);
}
.character-header-info {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    height: 100%;
    justify-content: space-between;
    min-width: 0;
}
.character-label {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 36px;
    white-space: nowrap;
}
.character-name {
    font-weight: 600;
    margin-right: 12px;
}
.character-title {
    font-size: 36px;
    font-weight: 400;
    color: #bbbedb;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}