.characters-home-page {
    display: flex;
    margin: 0 auto;
}
.character-home {
    max-width: 1014px;
    width: 100vw;
    box-sizing: content-box;

    /* padding-left: 24px;
    padding-right: 24px; */
}
.title-header {
    margin-top: 24px;
    margin-bottom: 36px;
}
.title-header h1, .title-header h1.character-list {
    display: flex;
    align-items: center;
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 0;
}
.title-header h2.subtitle {
    margin-top: 18px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0;
    white-space: nowrap;
}
.characters-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(90px,1fr));
    grid-gap: 12px 12px;
    padding: 20px;
    margin: 10px;
    height: 170px !important;
    align-items: center !important;
}
.character-link {
    margin: 0 auto;
}
.character-link .character-name {
    margin-top: 8px;
    font-size: 0.9rem;
    color: var(--font-color-main);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.image-wrapper-char {
    width: 100px;
    height: 100px;

    position: relative;
    border: 1px solid #2c2c40;
    overflow: hidden;
}
.image-wrapper-char img {
    -webkit-transform: rotate(15deg) scale(1.4);
	transform: rotate(15deg) scale(1.4);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.image-wrapper-char:hover img {
	-webkit-transform: rotate(0) scale(1);
	transform: rotate(0) scale(1);
}


.character-profile-main-page {
    display: flex;
    margin: 0 auto;
}
.character-profile-content-container {
    padding-left: 24px;
    padding-right: 24px;
}

.character-profile-container.page_build, .character-profile-container.page_counters, .character-profile-container.page_overview_aram, .character-profile-container.page_overview_arurf, .character-profile-container.page_overview_nexus_blitz, .character-profile-container.page_overview_one_for_all, .character-profile-container.page_overview_urf, .character-profile-container.page_runes {
    width: 1014px;
}
.character-profile-container {
    z-index: 1;
    margin: 0 auto;
    padding-top: 48px;
}
.character-header {
    margin-bottom: 24px;
    font-family: "Fact", sans-serif;
}
.character-header-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
.character-image-container {
    position: relative;
    flex: 0 0 93px;
    width: 93px;
    height: 93px;
    border-radius: 6px;
    border: 2px solid #414165;
    background-color: #17172e;
}
.character-image-border {
    position: relative;
    border: 2px solid #17172e;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.character-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    transform: translate(-50%,-50%) scale(1.2);
}
.item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    border-radius: 6px;
    transform: translate(-50%,-50%) scale(1.2);
}
.character-header-info {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    height: 100%;
    justify-content: space-between;
    min-width: 0;
}
.character-label {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    font-size: 36px;
    white-space: nowrap;
}
.character-name {
    font-weight: 600;
    margin-right: 12px;
}
.character-title {
    font-size: 36px;
    font-weight: 400;
    color: #bbbedb;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.character-profile-page, .stats-tables-container .stats-tables__content-container, .summoner-profile-container .summoner-profile_content-container, .text-content-container {
    margin-left: auto!important;
    margin-right: auto!important;
}

.character-profile-page {
    margin-bottom: 0;
}
.character-build {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    max-width: 1014px;
    width: 1014px;
}
.character-skills {
    display: flex;
    align-items: center;
    margin-right: 24px;
}
.character-skill-with-label:not(:last-child) {
    margin-right: 6px;
}
.character-skill-with-label {
    position: relative;
}
.character-skills img {
    width: 72px;
    height: 72px;
    border-radius: 3px;
}
.character-skill-with-label .skill-label.bottom-center {
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    border: 2px solid #17172e;
    box-sizing: content-box;
}
.character-skill-with-label .skill-label {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 12px;
    border-radius: 50%;
    background-color: #383864;
    font-size: 9px;
    font-weight: 700;
    pointer-events: none;
}
.character-skill-with-label .skill-label.space {
    width: 50px;
}
.content-section {
    padding: 24px;
    border-radius: 6px;
    background-color: #191937;
}
.character-ranking-stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 24px 0;
}
.character-ranking-stats>div:not(:last-child) {
    border-right: 1px solid #414165;
}
.character-ranking-stats>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
    flex: 1 1;
    height: 100%;
    white-space: nowrap;
}
.character-ranking-stats .value {
    font-size: 2rem;
    font-weight: 800;
}
.character-ranking-stats .label {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
    color: #bbbedb;
}

.filter-manager {
    position: -webkit-sticky;
    position: sticky;
    z-index: 98;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 24px 0;
    height: 36px;
    background-color: var(--background-main);
    box-sizing: content-box;
}
.filter-manager .filter-width-wrapper {
    display: flex;
    align-items: center;
    margin-right: auto!important;
    -webkit-overflow-scrolling: touch;
}
.filter-manager .filter-manager_container {
    position: relative;
    display: flex;
    align-items: center;
    flex: 1 1;
}
.filter-manager .filter-manager_container>:not(:last-child):not(.filter-manager_label) {
    margin-right: 12px;
}
.default-select {
    font-size: 1.4rem;
}
.filter-select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 36px;
    border-radius: 6px;
    background-color: #25254b;
}
.filter-manager .filter-manager_label svg {
    width: 18px;
}
.recommended-build_items {
    display: grid;
    grid-template-columns: repeat(5,202px);
    grid-auto-flow: column;
}
.recommended-build_items>:not(:last-child) {
    border-right: 1px solid #414165;
}
.content-section_content {
    padding: 24px;
}
.content-section_header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    padding-left: 14px;
    width: 100%;
    font-size: 14px;
    font-weight: 700;
}
.item-option {
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-bottom: 12px;
}
.item-img {
    border-radius: 3px;
    overflow: hidden;
}
.item-stats {
    margin-left: 12px;
}
.item-stats .winrate {
    font-size: 12px;
    font-weight: 700;
}
.item-stats .matches {
    color: #cddcfe;
    font-size: 11px;
}
.matchups-wrapper {
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(2,49%);
    grid-gap: 1%;
    padding-bottom: 30px;

}
.matchups-wrapper:not(:last-child) {
    padding-bottom: 0px;
}
.matchups-wrapper ::-webkit-scrollbar {
    background-color: hsla(0,0%,100%,0);
    width: 4px;
    height: 8px;
}
.matchups-wrapper ::-webkit-scrollbar-thumb {
    background-color: rgba(205,220,254,.25);
    border-radius: 4px;
}
.matchups-wrapper ::-webkit-scrollbar-track {
    background-color: #11112a;
}
.toughest-matchups {
    flex: 1 1;
    margin-top: 24px;
    border-radius: 6px 0 0 6px;
    overflow: hidden;
}
.content-section .content-section_header:before {
    content: "";
    position: absolute;
    left: 0;
    width: 2px;
    height: 20px;
    border-radius: 2px;
    background-color: #3273fa;
}
.matchups {
    display: grid;
    align-items: center;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-gap: 12px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    padding-bottom: 10px;
}
.character-matchup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    padding: 6px 0;
    border-radius: 3px;
    background-color: #11112a;
    color: #fff;
    text-align: center;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
.character-face {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
.character-face>img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%) scale(1.1);
}
.character-name-2 {
    margin-top: 6px;
    max-width: 70px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
}
.toughest-matchups {
    flex: 1 1;
    margin-top: 24px;
    border-radius: 6px 0 0 6px;
    overflow: hidden;
}
div.custom-select {
    position: relative;
    display: inline-block;
    border-radius:36px;
    overflow:hidden;

}

.custom-select select {
    display: inline-block;
    padding: 4px 3px 3px 5px;
    margin: 0;
    font: inherit;
    outline:none; /* remove focus ring from Webkit */
    line-height: 1.2;
    background: rgb(141, 141, 141);
    color:white;
    border:0;
}

/* Select arrow styling */
.custom-select:after {
    content: "▼";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 60%;
    line-height: 30px;
    padding: 0 7px;
    background: rgb(141, 141, 141);
    color: white;
    pointer-events: none;
}

.no-pointer-events .custom-select:after {
    content: none;
}
.character-description {
    font-size: 12px;
}

.anna {
    background: var(--anna-color);
}
.chuck {
    background: var(--chuck-color);
}
.froggy {
    background: var(--froggy-color);
}
.kiddo {
    background: var(--kiddo-color);
}
.kitsu {
    background: var(--kitsu-color);
}
.sashimi {
    background: var(--sashimi-color);
}
.skinny {
    background: var(--skinny-color);
}
.teevee {
    background: var(--teevee-color);
}
.zook {
    background: var(--zook-color);
}

.anna-border {
    border-width: 4px;
    border-top: solid;
    border-image: var(--anna-color) 1;
}
.chuck-border {
    border-width: 4px;
    border-top: solid;
    border-image: var(--chuck-color) 1;
}
.froggy-border {
    border-width: 4px;
    border-top: solid;
    border-image: var(--froggy-color) 1;
}
.kiddo-border {
    border-width: 4px;
    border-top: solid;
    border-image: var(--kiddo-color) 1;
}
.kitsu-border {
    border-width: 4px;
    border-top: solid;
    border-image: var(--kitsu-color) 1;
}
.sashimi-border {
    border-width: 4px;
    border-top: solid;
    border-image: var(--sashimi-color) 1;
}
.skinny-border {
    border-width: 4px;
    border-top: solid;
    border-image: var(--skinny-color) 1;
}
.teevee-border {
    border-width: 4px;
    border-top: solid;
    border-image: var(--teevee-color) 1;
}
.zook-border {
    border-width: 4px;
    border-top: solid;
    border-image: var(--zook-color) 1;
}


.anna-avatar-border {
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--anna-color) border-box;
    -webkit-mask-composite: xor;
}
.chuck-avatar-border {
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--chuck-color) border-box;
    -webkit-mask-composite: xor;
}
.froggy-avatar-border {
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--froggy-color) border-box;
    -webkit-mask-composite: xor;
}
.kiddo-avatar-border {
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--kiddo-color) border-box;
    -webkit-mask-composite: xor;
}
.kitsu-avatar-border {
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--kitsu-color) border-box;
    -webkit-mask-composite: xor;
}
.sashimi-avatar-border {
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--sashimi-color) border-box;
    -webkit-mask-composite: xor;
}
.skinny-avatar-border {
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--skinny-color) border-box;
    -webkit-mask-composite: xor;
}
.teevee-avatar-border {
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--teevee-color) border-box;
    -webkit-mask-composite: xor;
}
.zook-avatar-border {
    border-radius: 5px;
    border: 2px solid transparent;
    background: var(--zook-color) border-box;
    -webkit-mask-composite: xor;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.char-btn {
    margin: 0 12px;
    border-radius: 5px;
    cursor: pointer;
    height: 90px;
    width: 80px;
    transform: skewX(-10deg);
    transition: height 100ms;
    overflow: hidden;
    box-shadow: -4px 4px 1px rgb(0 0 0 / 20%);
}

.char-btn:hover {
    border: 4px solid rgba(255, 255, 255, .7);
    border-radius: 3px;
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.animate__animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-duration: var(--animate-duration);
    animation-duration: var(--animate-duration);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.char-btn:hover:not(.selected) .char-btn-img {
    margin-left: -19px;
    margin-top: -39px;
}

.char-btn .char-btn-img {
    height: 170px;
    margin-left: -15px;
    margin-top: -35px;
    transform: skewX(10deg);
}

.char-btn.selected {
    width: 80px;
    height: 140px;
    border: 4px solid #fff;
    border-radius: 3px;
}

/* .landing-bg {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    top: 0px;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    z-index: -3;
    background: linear-gradient(to left, rgb(235, 32, 79), rgb(255, 42, 109)) 0% 0% / cover;
} */

.landing-bg2 {
    background: url(/public/images/lineup.png) center center / cover no-repeat fixed;
    position: absolute;
    inset: 10px;
    opacity: 0.15;
    z-index: -1;
}